

# app/src/main/AndroidManifest.xml @sergioko747
# *.png @sergioko737

#*AndroidManifest.xml @sergioko737
#*.xml @github/sergioko737
#app/src/test/*/ @sergioko737
#app/src/main/res/*hdpi/test* @sergioko737

app/src/*/lib.rs @sergioko737

*/src/*/lib.rs @sergioko737
app/src/test/lib.rs @sergioko737
lib.rs @sergioko737
*/*test*/*lib.rs @sergioko737
